@media screen and (max-width: 600px) {

    #container {
        margin-top: -5%;
    }

    .container p {
        font-size: 3vw;
    }

    .form-signin h1 {
        font-size: 5vw;
        margin-left: -8vw;
    }

    .forget {
        font-size: 2vw;
        width: 130%;
    }

    .sign-in span {
        width: 100%;
    }

    .sign-in input[type="email"] {
        width: 125%;
    }

    .sign-in input[type="password"] {
        width: 125%;
    }

    .sign-in button[type="submit"] {
        width: 120%;
    }

    .sign-up input[type="text"] {
        width: 120%;
    }

    .sign-up input[type="email"] {
        width: 120%;
    }

    .sign-up input[type="password"] {
        width: 120%;
    }

    .sign-up button {
        font-size: 3vw;
        width: 120%;
    }

    .hidden {
        width: 110%;
    }

    .form-signin button {
        width: 120%;
    }
}