@media screen and (max-width: 600px) {

    #container {
        margin-top: -5%;
    }

    .container p {
        font-size: 3vw;
    }

    .form-signin h1 {
        font-size: 5vw;
        margin-left: -8vw;
    }

    .forget {
        font-size: 2vw;
        width: 130%;
        padding-left: 2vw;
    }

    .sign-in {
        left: -12vw;
    }

    .sign-in h1 {
        margin-left: -5vw;
        font-size: 5vw;
    }

    .sign-in span {
        margin-left: -5vw;
        width: 100%;
    }

    .sign-in input[type="email"] {
        width: 125%;
    }

    .sign-in input[type="password"] {
        width: 125%;
    }

    .sign-in button[type="submit"] {
        width: 120%;
    }

    .sign-up input[type="text"] {
        width: 120%;
        margin-top: 10vw;
    }

    .sign-up input[type="email"] {
        width: 120%;
    }

    .sign-up h1 {
        font-size: 4vw;
        margin-top: -2vh;
    }

    .sign-up input[type="password"] {
        width: 120%;
    }

    .sign-up button {
        font-size: 3vw;
        width: 120%;
    }

    .hidden {
        width: 110%;
    }

    .form-signin button {
        width: 120%;
    }

     .signingit button {
        width: 100%;
        margin-left: -5%;
        font-size: 2vw;
    }

  /*  #google-btn{
        width: 120%;
        margin-left: -10%;
        font-size: 2vw;
    } */

}