@media screen and (max-width: 600px) {
  .auth-btn {
    display: none;
  }

  .username {
    display: none;
  }

  .logout-btn {
    display: none;
  }

  #container {
    margin-top: -5%;
    padding-top: 4%;
  }

  #search input[type="text"] {
    width: 25vw;
    height: 2.5vw;
    margin-left: 10%;
  }

  .logo a {
    margin-left: -22vw !important;
    font-size: 4vw !important;
  }

  .logo-part {
    margin-left: -22vw !important;
    font-size: 4vw !important;
  }

  .navbar-logo :link {
    font-size: 4vw !important;
  }

  #navbar-items :link {
    font-size: 1.5vw;
    font-weight: 500;
  }

  /* Headlines */

  #news-container h1 {
    font-size: 4vw;
  }

  .title-hr {
    width: 26vw;
    margin-left: 33vw;
  }

  #headlines-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8vh !important;
    column-gap: 2% !important;
  }

  .img-home {
    width: 100%;
    height: 20vh;
  }

  .title {
    font-size: 3.2vw;
    margin-top: 2vh;
  }

  .desc {
    font-size: 2.5vw;
    margin-top: 2vh;
  }

  .readmore {
    font-size: 2vw;
    margin-left: -1vw !important;
  }

  .save-for-home button {
    font-size: 3vw !important;
    margin-bottom: 3vh;
  }

  /* Latest News */

  #search-container-search {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 5% !important;
    margin-top: 12vh !important;
  }

  .img-container-search {
    width: 100% !important;
    height: 35% !important;
    margin-top: -25% !important;
  }

  .h2-news {
    font-size: 3.2vw !important;
    margin: 2vh 0 !important;
  }

  .p-news {
    font-size: 2.5vw !important;
    margin-top: vh !important;
  }

  .readmore-news-search a {
    text-decoration: none;
    color: blue;
    font-weight: 700;
  }

  .readmore-news-search {
    font-size: 3vw !important;
    margin-left: -1vw !important;
  }

  .save-latest-search button {
    font-size: 3vw !important;
    margin-bottom: 0.8vh;
  }

  /* Search results */

  #search-results-title {
    font-size: 4vw;
  }

  #search-results-box {
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 8vh !important;
    column-gap: 2% !important;
    margin-top: 15% !important;
  }

  .img-news-search {
    width: 100% !important;
    height: auto !important;
  }

  .h2-news-search {
    font-size: 3.2vw;
    margin-top: 2vh;
  }

  .p-news-search {
    font-size: 2.5vw;
    margin-top: 2vh;
  }

  /* Footer */

  #footers-home {
    margin-top: 115vh !important;
  }

  .footers-logo-home {
    font-size: 4.5vw !important;
    margin-top: 2% !important;
  }

  .footers-copyright-home {
    margin-top: 2% !important;
    text-align: center !important;
    font-size: 2.5vw !important;
    padding-bottom: 2% !important;
  }

    /* Sidebar  */
    .hamburger {
      overflow-y: scroll;
      display: flex;
      color: black;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
      cursor: pointer;
      z-index: 1100;
    }

    .hamburger .line {
      height: 3px;
      width: 100%;
      background-color: black;
      border-radius: 5px;
    }

    .hamburger.active {
      color: white;
      background-color: black;
    }

    .hamburger.active .line {
      background-color: white;
      color: white;
    }

    .sidebar-home {
      display: inline-block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 60vw;
      height: 100vh;
      background-color: black;
      transition: right 0.3s ease-in-out;
      z-index: 1000;
      display: flex;
      flex-direction: column;
    }

    .sidebar-home.active-home {
      right: 0;
      background-color: black;
    }

    .sidebar-home a {
      text-align: center;
      font-size: 4vw;
      /* color: white; */
      text-decoration: none;
    }

    .sidebar-menu-home {
      margin-top: -9vh;
    }

    .login-resp-home {
      padding-left: 36%;
      padding-top: 8vh;
    }

    .sidebar-user-home {
      margin-top: 5vh;
      color: white;
      font-size: 4vw;
      font-weight: 100;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .logout-btn-sidebar-home {
      margin-top: 5vh;
      background: transparent;
      border: none;
      color: white;
      font-size: 4vw;
      cursor: pointer;
    }

    .sidebar-user-home {
      text-align: center;
      margin-left: 1vw;
    }

    .logout-icon {
      color: white;
      font-size: 4vw;
    }
  .sidebar-header a {
    margin-top: 2vh !important;
    text-align: center !important;
    font-size: 3vw !important;
    font-weight: normal !important;
  }


  
}

@media screen and (max-width: 500px) {
  .navbar-search {
    display: flex !important;
    visibility: visible !important;
    position: absolute;
    left: -20vw;
  }

  .search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    height: 32px;
  }

  .search-input.active {
    z-index: 1000;
    width: 100%;
    margin-left: 20%;
    opacity: 1;
    padding: 6px 10px;
    border: 1px solid #ccc;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* Hamburger */
  .hamburger {
    position: relative;
    left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 22px;
    cursor: pointer;
    z-index: 1100;
  }

  .hamburger .line {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
  }

  .hamburger.active {
    background-color: black;
  }

  .hamburger.active .line {
    background-color: white;
  }

  .theme-toggle {
    margin-top: -2%;
    position: relative;
    left: 16vw;
  }
}