@media screen and (max-width: 600px) {
  .articles-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Headline */
  .headline-item-save {
    margin-top: 5%;
  }

  .img-save {
    width: 100%;
    height: auto;
  }

  .title-save {
    font-size: 3.2vw;
    margin-top: 2vh;
  }

  .desc-save {
    font-size: 2.5vw;
    margin-top: 2vh;
    text-align: center;
  }

  .readmore-news-submit {
    margin-top: 2vh;
    font-size: 3vw;
    text-align: center;
  }

  .delete-article {
    margin-top: 2vh;
    font-size: 3vw;
    text-align: center;
  }

  .news-error{
    margin-left: 58%;
    margin-top: 55%;
  }
  /* Search results */

  #search-results-title {
    font-size: 4vw;
  }

  #search-results-box {
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 15vh !important;
    column-gap: 2% !important;
  }

  .img-news-search {
    width: 90% !important;
    height: 20vh !important;
  }

  .h2-news {
    font-size: 3.2vw !important;
    margin-top: 2vh !important;
  }

  .p-news {
    font-size: 2.5vw;
    margin-top: 2vh;
  }
  /* Footer */
  #footers-save {
    margin-top: 35vh !important;
  }

  .footers-logo-save {
    font-size: 4.5vw !important;
    margin-top: 2% !important;
  }

  .footer-copyright-save {
    color: white;
    margin-top: 2% !important;
    text-align: center !important;
    font-size: 2.5vw !important;
    padding-bottom: 2% !important;
 
  }

  /* Sidebar */
  .sidebar {
    display: inline-block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color: black;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .sidebar.active {
    right: 0;
    background-color: black;
  }

  .sidebar a {
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
  }

  .sidebar-menu {
    margin-top: -8vh;
  }

  .login-resp {
    padding-left: 36%;
    padding-top: 6vh;
  }

  .sidebar-user {
    margin-top: 5vh;
    color: white;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .logout-btn-sidebar {
    margin-top: 5vh;
    background: transparent;
    border: none;
    color: white;
    font-size: 4vw;
    cursor: pointer;
  }

  .sidebar-user {
    text-align: center;
  }

  .sidebar-username {
    color: white;
    font-size: 4.4vw;
  }

  .logout-icon {
    color: white;
    font-size: 4vw;
  }

}
