@media screen and (max-width: 600px) {

    #container {
        margin-top: -5%;
    }

    #search input[type="text"] {
        width: 25vw;
        height: 2.5vw;
        margin-left: -10%;
    }

    .logo a {
        margin-left: -18vw;
        font-size: 4vw;
    }

    .logo-part {
        margin-left: -18vw;
        font-size: 4vw;
    }

    .sign-in {
        margin-left: -6vw;
        font-size: 3vw;
        font-weight: 600;
    }

    .sub {
        font-size: 3vw;
        margin-right: -3vw;
        padding: 8px 10px;
    }

    #navbar-items :Link {
        font-size: 1.5vw;
        font-weight: 500;
    }

    #news-container h1 {
        font-size: 4vw;
    }

    .title-hr {
        width: 26vw;
        margin-left: 33vw;
    }

    #headlines-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 8%;
        margin-top: 5%;
    }

    .img {
        width: 100%;
        height: 18vh;
    }

    .title {
        font-size: 3.2vw;
        margin-top: 2vh;
    }

    .desc {
        font-size: 2.5vw;
        margin-top: 2vh;
    }

    .readmore {
        font-size: 3vw;
    }

    #search-container {
        margin-top: 5%;
        grid-template-columns: repeat(2, 2fr);
        gap: 8%;
    }

    .latestnews {
        margin-top: 42%;
    }

    .img-news {
        width: 100%;
        height: 18vh;
    }

    .h2-news {
        font-size: 3.2vw;
        margin-top: 2vh;
    }

    .p-news {
        font-size: 2.5vw;
        margin-top: 2vh;
    }

    .readmore-news {
        font-size: 3vw;
    }

    #footers-first {
        margin-top: 90vh;

    }

    .footer-logo-name {
        font-size: 4.5vw;
        margin-top: 2%;
    }

   .footer-copyrights {
        margin-top: 2%;
        text-align: center;
        font-size: 2.5vw;
      
    }
}