@media screen and (max-width: 600px) {
  #container {
    margin-top: -5%;
  }

  #search input[type="text"] {
    width: 25vw;
    height: 2.5vw;
    margin-left: -10%;
  }

  .logo a {
    margin-left: -18vw;
    font-size: 4vw;
  }

  .logo-part {
    margin-left: -18vw;
    font-size: 4vw;
  }

  .sign-in {
    margin-left: -6vw;
    font-size: 3vw;
    font-weight: 600;
  }

  .sub {
    font-size: 3vw;
    margin-right: -3vw;
    padding: 8px 10px;
  }

  #navbar-items :link {
    font-size: 1.5vw;
    font-weight: 500;
  }

  #news-container h1 {
    font-size: 4vw;
  }

  .title-hr {
    width: 26vw;
    margin-left: 33vw;
  }

  /* Sidebar */
  .sidebar-home  {
    display: inline-block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color: black;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .sidebar-home .active-home  {
    right: 0;
    background-color: black;
  }

  .sidebar-home a {
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
  }

  .sidebar-menu-home  {
    margin-top: -8vh;
  }

  .login-resp-home  {
    padding-left: 36%;
    padding-top: 6vh;
  }

  .sidebar-user-home  {
    margin-top: 5vh;
    color: white;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .logout-btn-sidebar-home  {
    margin-top: 5vh;
    background: transparent;
    border: none;
    color: white;
    font-size: 4vw;
    cursor: pointer;
  }

  .sidebar-user-home  {
    text-align: center;
  }

  .sidebar-username-home  {
    color: white;
    font-size: 4.4vw;
  }

  .logout-icon-home  {
    color: white;
    font-size: 4vw;
  }

  #headlines-container {
    grid-template-columns: repeat(2, 2fr);
    gap: 8%;
    margin-top: 5%;
  }

  .img-enter {
    width: 100%;
    height: 20vh;
  }

  .title {
    font-size: 3.2vw;
    margin-top: 2vh;
  }

  .desc {
    font-size: 2.5vw;
    margin-top: 2vh;
  }

  .readmore {
    font-size: 3vw;
  }

  .save-for-enter button {
    font-size: 3vw !important;
    margin-bottom: 1.2vh;
  }

  #footer-enter {
    margin-top: 10vh;
    height: 30%;
  }

  .footer-logo-enter {
    font-size: 4.5vw;
    margin-top: 2%;
  }

  .footer-copyrights-enter {
    margin-top: 2%;
    text-align: center;
    font-size: 2.5vw;
  }
}
